@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  body{
      background-size: cover;
  }
  .container{
      width: 997px;
      height: 100%;
      margin-left: -19px;
  }
  .Webpage-top, th, tr{
      /*margin-left: 150px;
      padding-top: 20px;*/
      margin-top: 20px;
      margin-left: 190px;
  /*	border: 1px solid black;*/
      width: 1190px;
      text-align: center;
  }
  #big-area{
      margin-top: 20px;
      margin-left: 150px;
      display: inline-block;
  }
  
  a{
      margin-top: 40px;
      font-family: Arial, Helvetica, sans-serif;
      
      color: black;
      margin-bottom: 10px;
  }
  
  .contentt{
      position: absolute;
      top: 170px;
      left: 170px;
      text-align: left;
      color: white;
      font-size: 28px;
      padding: 7px;
      line-height: 2.7px;
  
  
  }
  .web-body{
      margin-top: -28px;
      background-color: Silver;
      height: 800px;
      font-family: Arial;
      padding-top: 30px;
      padding-left: 30px; 
      width: 1248px;
      
  }
  .image-area{
      
      padding-right: 17px;
      padding-left: -9px;
      padding-bottom: 50px; 
      
  }
  .edit{
      width: 80px;
  }
  .footer{
  
      width: 1278px;
      text-align: left;
      padding-right: 40px;
      padding-top: 20px;
      margin-left: -30px;
      border-top: 1px solid black;
      margin-right: -20px;
  
  }
  .inside{
      text-align: left;
      padding-left: 20px;
  }
  .inside1{
      text-align: left;
      padding-left: 20px;
      padding-top: -10px;
      color: blue;
  }
  
  @media only screen and (min-width: 768px) {}
  @media only screen and (min-width: 992px) {}
  @media only screen and (max-width: 768px) {}
  
  